<%= form_with(model: @event) do |form| %>
  <% if @event.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <%= form.submit %> <%= link_to "Cancel", events_path %>
<% end %>
