<h1><%= @event.name %></h1>
<p><strong>Date:</strong> <%= @event.date %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Description:</strong> <%= @event.description %></p>
<p><strong>Status:</strong> <%= @event.closed? ? "Closed" : "Open" %></p>

<hr>

<h2>Registrations</h2>
<ul>
  <% @registrations.each do |reg| %>
    <li>
      <%= reg.attendee_name %> (<%= reg.attendee_email %>)
      <% if !@event.closed? || current_user.admin? %>
        | <%= link_to "Edit", edit_event_registration_path(@event, reg) %>
        | <%= button_to "Delete", event_registration_path(@event, reg), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>


<% unless @event.closed? %>
  <h3>Register</h3>
  <%= form_with model: [@event, @registration], local: true do |f| %>
    <%= f.text_field :attendee_name, placeholder: "Your Name" %><br>
    <%= f.email_field :attendee_email, placeholder: "Your Email" %><br>
    <%= f.submit "Register" %>
  <% end %>

<%= link_to "Back to Events", events_path %>
<% else %>
  <p><em>This event is closed. No new registrations allowed.</em></p>
<%= link_to "Back to Events", events_path %>

<% end %>
