<h1>Manage Registrations</h1>

<%= form_with url: admin_registrations_path, method: :get, local: true do %>
  <%= text_field_tag :q, params[:q], placeholder: "Search by attendee or event..." %>
  <%= submit_tag "Search" %>
<% end %>

<%= form_with url: bulk_delete_admin_registrations_path, method: :delete, local: true do %>
  <table>
    <thead>
      <tr>
        <th>Select</th>
        <th>Event</th>
        <th>Attendee</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @registrations.each do |reg| %>
        <tr>
          <td><%= check_box_tag "registration_ids[]", reg.id %></td>
          <td><%= reg.event.name %></td>
          <td><%= reg.attendee_name %></td>
          <td><%= reg.attendee_email %></td>
          <td>
            <%= link_to "Edit", edit_admin_registration_path(reg) %> |
            <%= button_to "Delete", admin_registration_path(reg),
                          method: :delete,
                          form: { style: "display:inline" },
                          data: { confirm: "Are you sure you want to delete this registration?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag "Bulk Delete", data: { confirm: "Delete selected registrations?" } %>
  <%= link_to "Back to Dashboard", admin_dashboard_path %>
<% end %>
