<!DOCTYPE html>
<html>
  <head>
    <title>EventBookingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <% if current_user %>
        <span>Welcome, <%= current_user.name %></span>
        <%= button_to "Logout", session_path, method: :delete, class: "btn-logout" %>
      <% else %>
        <span>EVENTS - Login or Sign Up</span>
        
      <% end %>
    </nav>

    <main class="container">
      <% if flash[:notice] %>
        <div class="flash notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash alert"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
